@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../assets/Ubuntu_Sans_Mono/static/UbuntuSansMono-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html {
    --key-font-color: #000000;
    --key-color-top-prim: #BAB9BE;
    --key-color-top-sec: #aaa9b6;
    --key-color-front: #82858E;
    --key-color-side: #434346;
    --key-color-back: #343635;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}


/* US ANSI FULL SIZE */
#keyboard {

    --key-size: 4em;
    --key-gap: calc(var(--key-size) / 8);
    --key-half: calc(var(--key-size) / 2 - var(--key-gap) / 2);

    font-family: "Ubuntu Mono", sans-serif;
    color: black;
    font-weight: 700;
    font-size: .8rem;

    outline: 2px solid red;
    position: relative;
}

.keyslot {
    overflow: hidden;

}


.key {
    position: relative;
    border-radius: .5em;
    overflow: hidden;

    color: var(--key-font-color);

    /*background: conic-gradient(from 38deg at 50% 37%, var(--key-color-back) 2%, var(--key-color-side) 6%,*/
    /*var(--key-color-side) 25%, var(--key-color-front) 29%,*/
    /*var(--key-color-front) 50%, var(--key-color-side) 54%,*/
    /*var(--key-color-side) 73%, var(--key-color-back) 76%);*/

    height: 100%;
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    --key-top: .3em;
    --key-top-height: calc(100% - 1.7em);
    --key-top-width: calc(100% - 1.2em);
    --key-corner-gradient-amount: 2;

    &::after {
        position: absolute;
        content: "";
        width: calc(var(--key-top-width) - .5em);
        background: linear-gradient(0deg, var(--key-color-front) 50%, var(--key-color-back) 50%);
        height: 110%;
        top: -5%;
        left: 50%;
        z-index: 5;
        transform: translateX(-50%);
    }

    &::before {
        content: "awd";
        position: absolute;
        width: 100%;
        height: calc(var(--key-top-height) - .5em);
        background: var(--key-color-side);
        top: calc(var(--key-top) + .5em);
        z-index: 4;
    }


    .bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;


        .bg-item {
            position: absolute;
            height: 1.5em;
            width: 1.5em;
        }

        .bg-left-top {
            top: 0;
            left: 0;
            background: conic-gradient(from -90deg at 60% 30%, var(--key-color-back) 95deg, var(--key-color-side) 150deg);
            transform: scaleX(-1);


        }

        .bg-right-top {
            top: 0;
            right: 0;
            background: conic-gradient(from -90deg at 60% 30%, var(--key-color-back) 95deg, var(--key-color-side) 150deg);
        }

        .bg-left-bottom {
            bottom: 0;
            left: 0;
            height: 2em;
            background: conic-gradient(at 60% 35%, var(--key-color-side) 150deg, var(--key-color-front) 180deg);
            transform: scaleX(-1);

        }

        .bg-right-bottom {
            bottom: 0;
            right: 0;
            height: 2em;
            background: conic-gradient(at 60% 35%, var(--key-color-side) 150deg, var(--key-color-front) 180deg);
        }
    }

    .keycode {
        z-index: 10;
        position: absolute;
        left: 0;
        bottom: .5%;
        font-weight: 500;
        width: 100%;
    }

    .key-top {
        z-index: 10;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        height: var(--key-top-height);
        width: var(--key-top-width);
        background: radial-gradient(var(--key-color-top-prim), var(--key-color-top-sec));
        border-radius: .3em;
        padding-inline: .2em;

        position: absolute;
        top: var(--key-top);

        span {
            width: 100%;
        }
    }
}