@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../assets/Ubuntu_Sans_Mono/static/UbuntuSansMono-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root {
    --key-font-color: #000000;
    --key-color-top-prim: #5124ff;
    --key-color-top-sec: #0b00a1;
    --key-color-front: #0dea34;
    --key-color-side: #ff5dcc;
    --key-color-back: #d07927;



    background: #202020;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}


/* US ANSI FULL SIZE */
#keyboard {

    --key-size: 4em;
    --key-gap: calc(var(--key-size) / 8);
    --key-half: calc(var(--key-size) / 2 - var(--key-gap) / 2);

    font-family: "Ubuntu Mono", sans-serif;
    color: black;
    font-weight: 700;
    font-size: .8rem;

    position: relative;
}

.keyslot {
    overflow: hidden;
}


/*.key {*/

/*    position: relative;*/

/*    background: purple;*/
/*    height: 100%;*/
/*    width: 100%;*/

/*    overflow: hidden;*/

/*    border-radius: .5em;*/

/*    text-align: center;*/

/*    display: flex;*/

/*}*/


.key {
    position: relative;
    border-radius: .5em;
    overflow: hidden;

    color: var(--key-font-color);

    /*background: conic-gradient(from 38deg at 50% 37%, var(--key-color-back) 2%, var(--key-color-side) 6%,*/
    /*var(--key-color-side) 25%, var(--key-color-front) 29%,*/
    /*var(--key-color-front) 50%, var(--key-color-side) 54%,*/
    /*var(--key-color-side) 73%, var(--key-color-back) 76%);*/

    height: 100%;
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    --key-top: .3em;
    --key-top-height: calc(100% - 1.7em);
    --key-top-width: calc(100% - 1.2em);


    /*modern look*/
    /*background: linear-gradient(var(--key-color-back) 5%, var(--key-color-side) 60%, var(--key-color-front));*/

    /*&::after {*/
    /*    position: absolute;*/
    /*    content: "";*/
    /*    width: calc(var(--key-top-width) - .5em);*/
    /*    background: linear-gradient(0deg, var(--key-color-front) 50%, var(--key-color-back) 50%);*/
    /*    height: 110%;*/
    /*    top: -5%;*/
    /*    left: 50%;*/
    /*    z-index: 5;*/
    /*    transform: translateX(-50%);*/
    /*}*/

    /*&::before {*/
    /*    content: "awd";*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    height: calc(var(--key-top-height) - .5em);*/
    /*    background: var(--key-color-side);*/
    /*    top: calc(var(--key-top) + .5em);*/
    /*    z-index: 4;*/
    /*}*/


    .bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        /* how much each corner element is actually bigger on every side (like padding) than is has to be to be perfect because of some
            weird css i don't understand
          for demonstration set --corner-overflow to 0 and see what happens
            */
        --corner-overflow: .2rem;
        --corner-overflow-neg: calc(-1 * var(--corner-overflow));

        --corner-bg-top: conic-gradient(
                from -90deg
                at calc(100% - 1em - var(--corner-overflow)) calc(1em + var(--corner-overflow)),
                var(--key-color-back) 120deg,
                var(--key-color-side) 140deg);

        --corner-bg-bottom: conic-gradient(
                at calc(100% - .8em - var(--corner-overflow)) calc(100% - 1.9em - var(--corner-overflow)),
                var(--key-color-side) 150deg,
                var(--key-color-front) 173deg);


        .bg-item {
            position: absolute;

            height: calc(50% + 2 * var(--corner-overflow));
            width: calc(50% + 2 * var(--corner-overflow));
        }

        .bg-left-top {
            top: var(--corner-overflow-neg);
            left: var(--corner-overflow-neg);
            background:var(--corner-bg-top);
            transform: scaleX(-1);
        }

        .bg-right-top {
            top: var(--corner-overflow-neg);
            right: var(--corner-overflow-neg);
            background: var(--corner-bg-top);
        }

        .bg-left-bottom {
            bottom: var(--corner-overflow-neg);
            left: var(--corner-overflow-neg);
            background: var(--corner-bg-bottom);
            transform: scaleX(-1);
        }

        .bg-right-bottom {
            right: var(--corner-overflow-neg);
            bottom: var(--corner-overflow-neg);
            background: var(--corner-bg-bottom);
        }
    }

    .keycode {
        z-index: 10;
        position: absolute;
        left: 0;
        bottom: .5%;
        font-weight: 500;
        width: 100%;
    }

    .key-top {
        z-index: 10;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        height: var(--key-top-height);
        width: var(--key-top-width);
        background: radial-gradient(var(--key-color-top-prim), var(--key-color-top-sec));
        border-radius: .4em;
        padding-inline: .2em;

        position: absolute;
        top: var(--key-top);

        /*modern look*/
        /*box-shadow: 0 .3em 10px #00000040;*/

        span {
            width: 100%;
        }
    }
}